/*
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	model = "Sierra Wireless, Inc. MDM 9xxx WP series - MangOH Red";
	compatible = "qcom,mdm9607-mtp", "qcom,mdm9607", "qcom,mtp";
	qcom,board-id = <8 0x82>;
};

&sdhc_2 {
	status = "ok";
	cap-power-off-card;
	keep-power-in-suspend;
};

&soc {
	sierra_gpio {
		alias-BATTGAUGE_INT		= <&ioexp_gpios 0 0>;
		alias-BATTCHRGR_INT		= <&ioexp_gpios 1 0>;
		/* No GPIO 2 */
		alias-GPIO_EXP_RPI_1		= <&ioexp_gpios 3 0>;
		alias-GPIO_EXP_RPI_2		= <&ioexp_gpios 4 0>;
		alias-MTK_TO_WP_UART_EN		= <&ioexp_gpios 5 0>;
		alias-WIFI_UART1_TX		= <&ioexp_gpios 6 0>;
		alias-GPIO_EXP_RPI_3		= <&ioexp_gpios 7 0>;
		alias-LED_CARD_DETECT_IOT0	= <&ioexp_gpios 8 0>;
		alias-SDIO_SEL			= <&ioexp_gpios 9 0>;
		alias-POWER_FAIL_INDIC		= <&ioexp_gpios 10 0>;
		alias-SENSOR_INT1		= <&ioexp_gpios 11 0>;
		alias-SENSOR_INT2		= <&ioexp_gpios 12 0>;
		alias-PCM_EXP1_SEL		= <&ioexp_gpios 13 0>;
		alias-GENERIC_PUSH_BUTTON	= <&ioexp_gpios 14 0>;
		alias-CONS_DIR			= <&ioexp_gpios 15 0>;
	};
};

&i2c_4 {
	ioexp-mux@71 {
		// IO expander is below the I2C switch PCA9546
		compatible = "nxp,pca9546";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@4 {
			// IO expander 1: channel 2
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			ioexp_gpios: io_exp@3e {
				#gpio-cells = <2>;
				gpio-controller;
				compatible = "semtech,sx1509q";
				reg = <0x3e>;
			};
		};
	};
};

