/*
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	model = "Sierra Wireless, Inc. MDM WP7xxx series MangOH Green";
	compatible = "qcom,mdm9607-mtp", "qcom,mdm9607", "qcom,mtp";
	qcom,board-id = <8 0x83>;
};

&sdhc_2 {
	status = "ok";
	cap-power-off-card;
	keep-power-in-suspend;
};

&soc {
	sierra_gpio {
		// IO expander 1
		alias-ARDUINO_RESET_LEVEL	= <&ioexp1_gpios 0 0>;
		alias-BATTCHRGR_PG_N		= <&ioexp1_gpios 1 0>;
		alias-BATTGAUGE_GPIO		= <&ioexp1_gpios 2 0>;
		alias-LED_ON			= <&ioexp1_gpios 3 0>;
		alias-ATMEGA_RESET_GPIO		= <&ioexp1_gpios 4 0>;
		alias-CONNECT_TO_AV_LED		= <&ioexp1_gpios 5 0>;
		alias-PCM_ANALOG_SELECT		= <&ioexp1_gpios 6 0>;
		alias-CONNECT_TO_AV		= <&ioexp1_gpios 7 0>;
		alias-BOARD_REV_RES1		= <&ioexp1_gpios 8 0>;
		alias-BOARD_REV_RES2		= <&ioexp1_gpios 9 0>;
		alias-UART_EXP1_ENN		= <&ioexp1_gpios 10 0>;
		alias-UART_EXP1_IN		= <&ioexp1_gpios 11 0>;
		alias-UART_EXP2_IN		= <&ioexp1_gpios 12 0>;
		alias-SDIO_SEL			= <&ioexp1_gpios 13 0>;
		alias-SPI_EXP1_ENN		= <&ioexp1_gpios 14 0>;
		alias-SPI_EXP1_IN		= <&ioexp1_gpios 15 0>;
		// IO expander 2
		alias-IOT0_GPIO3	= <&ioexp2_gpios 0 0>;
		alias-IOT0_GPIO2	= <&ioexp2_gpios 1 0>;
		alias-IOT0_GPIO1	= <&ioexp2_gpios 2 0>;
		alias-IOT1_GPIO3	= <&ioexp2_gpios 3 0>;
		alias-IOT1_GPIO2	= <&ioexp2_gpios 4 0>;
		alias-IOT1_GPIO1	= <&ioexp2_gpios 5 0>;
		alias-IOT2_GPIO3	= <&ioexp2_gpios 6 0>;
		alias-IOT2_GPIO2	= <&ioexp2_gpios 7 0>;
		alias-IOT2_GPIO1	= <&ioexp2_gpios 8 0>;
		alias-SENSOR_INT1	= <&ioexp2_gpios 9 0>;
		alias-SENSOR_INT2	= <&ioexp2_gpios 10 0>;
		alias-CARD_DETECT_IOT0	= <&ioexp2_gpios 11 0>;
		alias-CARD_DETECT_IOT2	= <&ioexp2_gpios 12 0>;
		alias-CARD_DETECT_IOT1	= <&ioexp2_gpios 13 0>;
		alias-GPIOEXP_INT3	= <&ioexp2_gpios 14 0>;
		alias-BATTCHRGR_INT	= <&ioexp2_gpios 15 0>;
		// IO expander 3
		alias-USB_HUB_INTN	= <&ioexp3_gpios 0 0>;
		alias-HUB_CONNECT	= <&ioexp3_gpios 1 0>;
		alias-GPIO_IOT2_RESET	= <&ioexp3_gpios 2 0>;
		alias-GPIO_IOT1_RESET	= <&ioexp3_gpios 3 0>;
		alias-GPIO_IOT0_RESET	= <&ioexp3_gpios 4 0>;
		alias-IOT0_GPIO4	= <&ioexp3_gpios 5 0>;
		alias-IOT1_GPIO4	= <&ioexp3_gpios 6 0>;
		alias-IOT2_GPIO4	= <&ioexp3_gpios 7 0>;
		alias-UART_EXP2_ENN	= <&ioexp3_gpios 8 0>;
		alias-PCM_EXP1_ENN	= <&ioexp3_gpios 9 0>;
		alias-PCM_EXP1_SEL	= <&ioexp3_gpios 10 0>;
		alias-ARD_FTDI		= <&ioexp3_gpios 11 0>;
		alias-LCD_ON_OFF	= <&ioexp3_gpios 12 0>;
		alias-FAST_SIM_SWITCH	= <&ioexp3_gpios 13 0>;
		alias-ARDUINO_USB_CTRL	= <&ioexp3_gpios 14 0>;
		alias-RS232_ENABLE	= <&ioexp3_gpios 15 0>;
	};
};

&i2c_4 {
        ioexp-mux@71 {
                // IO expanders are below the I2C switch PCA9548
                compatible = "nxp,pca9548";
                reg = <0x71>;
                #address-cells = <1>;
                #size-cells = <0>;

                i2c@4 {
                        // IO expander 1: channel 4
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <4>;
                        ioexp1_gpios: io_exp@3e {
                                #gpio-cells = <2>;
                                gpio-controller;
                                compatible = "semtech,sx1509q";
                                reg = <0x3e>;
                         };
                };
                i2c@5 {
                        // IO expander 1: channel 5
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <5>;
                        ioexp2_gpios: io_exp@3f {
                                #gpio-cells = <2>;
                                gpio-controller;
                                compatible = "semtech,sx1509q";
                                reg = <0x3f>;

                                /* Set pullup for GPIO 11, 12, 13 to select card inserted */
                                pinctrl-names = "default";
                                pinctrl-0 = <&card_detect_iot_pins>;

                                card_detect_iot_pins: gpio11-cfg {
                                        pins = "gpio11", "gpio12", "gpio13";
                                        bias-pull-up;
                                };
                        };
                };
                i2c@6 {
                        // IO expander 3: channel 6
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <6>;
                        ioexp3_gpios: io_exp@70 {
                                #gpio-cells = <2>;
                                gpio-controller;
                                compatible = "semtech,sx1509q";
                                reg = <0x70>;
                        };
                };
        };
};

