/*
 * Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Sierra Wireless, Inc. MDM 9xxx WP series - mangOH Yellow";
	compatible = "qcom,mdm9607-mtp", "qcom,mdm9607", "qcom,mtp";
	qcom,board-id = <8 0x84>;
};

&soc {
	sierra_gpio {
		alias-TP500		= <&sx1509 0 0>;
		alias-WL_REG_ON		= <&sx1509 1 0>;
		alias-TP501		= <&sx1509 2 0>;
		alias-BT_DEV_WAKE	= <&sx1509 3 0>;
		alias-GENERIC_LED	= <&sx1509 4 0>;
		alias-PCM_EXP_SEL	= <&sx1509 5 0>;
		alias-TP502		= <&sx1509 6 0>;
		alias-TRI_LED_BLUE	= <&sx1509 7 0>;
		alias-CARD_DETECT_IOT0	= <&sx1509 8 0>;
		alias-BATT_GAUGE_GPIO	= <&sx1509 9 0>;
		alias-TRI_LED_RED	= <&sx1509 10 0>;
		alias-BAT_VOL_MONITOR	= <&sx1509 11 0>;
		alias-CHARGER_INT_N	= <&sx1509 12 0>;
		alias-MAG_DATA_READY	= <&sx1509 13 0>;
		alias-RTC_INT		= <&sx1509 14 0>;
		alias-TRI_LED_GREEN	= <&sx1509 15 0>;
	};
};


&i2c_4 {
	i2c-switch@71 {
		compatible = "nxp,pca9546";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			sx1509: gpio-expander@3E {
				compatible = "semtech,sx1509q";
				reg = <0x3E>;

				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};
};
